@font-face {
  font-family: 'San Francisco';
  font-weight: 400;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
}

:host {
  display: inline-block;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

$button-size: 3rem;
$button-padding: 0.5rem;
$buttons-gap: 0.625rem;

.calc {
  background-color: black;
  border-radius: 10px;
  display: inline-block;
  font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  padding: 1rem;

  .calc-solution {
    padding: 3rem 0.5rem 0.5rem;
    font-size: 4rem;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
    text-overflow: ellipsis;
    width: calc($buttons-gap * 3 + calc($button-size + $button-padding * 2) * 4);
  }

  .calc-buttons-container {
    user-select: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: $buttons-gap;
    font-size: 2rem;

    .calc-button {
      padding: $button-padding;
      border-radius: 100%;
      cursor: pointer;
      opacity: 0.9;
      position: relative;
      transition-duration: 0.4s;
      overflow: hidden;

      > span {
        display: inline-flex;
        place-items: center;
        place-content: center;
        text-align: center;
        height: $button-size;
        width: $button-size;
        line-height: $button-size;
      }

      &:hover {
        opacity: 1;
      }

      &::after {
        content: '';
        background: rgb(255 255 255 / 25%);
        display: block;
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: all 0.8s;
        border-radius: inherit;
      }

      &:active::after {
        opacity: 1;
        transition: 0s;
      }

      &.calc-button-double {
        grid-column: span 2;
        border-radius: 5rem;
        justify-content: start;
      }

      &.calc-button-digit {
        background-color: #444;
      }

      &.calc-button-operand {
        background-color: orange;

        &.active {
          opacity: 1;
          background-color: white;
          color: orange;
        }
      }

      &.calc-button-func {
        background-color: rgb(175 175 175);
        color: black;
      }
    }
  }
}
